name: Ejecutar pruebas Jest

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Mostrar versiones
        run: |
          node -v
          npm -v
          pwd
          ls -la

      - name: Instalar dependencias (ci)
        run: npm ci

      - name: Ejecutar pruebas (verboso)
        run: npm test -- --runInBand --verbose
